dstu3/src/main/resources/hqmf/schemas/hhs-cql-hqmfn1-ext-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:hhs-cql:hqmf-n1-extensions:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:hl7="urn:hl7-org:v3" targetNamespace="urn:hhs-cql:hqmf-n1-extensions:v1" elementFormDefault="qualified">
	<xs:import namespace="urn:hl7-org:v3" schemaLocation="POQM_MT000001UV03_CQL.xsd"/>
	<xs:element name="code" type="hl7:CD" nillable="true"/>
	<xs:element name="version" type="hl7:ST" nillable="true"/>
	<xs:element name="supplementalDataElement" type="hl7:POQM_MT000001UV03.StratifierCriteria" nillable="true"/>
</xs:schema>
